body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lemon", serif;
  background-color: #1f1f1f;
  color: #eaeaea;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  /* background-color: bisque; */
}

input {
  font-family: "Roboto Mono", monospace;
}

button {
  font-family: "Tektur", sans-serif;
  
}

