/*** CARD ***/
.card {
  background-color: #444;
  background-color: rgba(68, 68, 68, 0.6);
  width: 250px;
  gap: 1em;
  /* padding: 1em 0em; */
  padding-top: 1em;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 0px #000;
}

.card:hover {
  transform: scale(1.08);
  transition: all ease-in-out 0.3s;
}

.card:not(:hover) {
  transition: all ease-in-out 0.3s;
}

/*** CLOSEBUTTON ***/
.closeButton button {
  padding: 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.67);
}

.closeButton button:hover {
  background-color: #2b98c0;
  transition: all ease 0.2s;
  scale: 1.05;
}

.closeButton button:not(:hover) {
  transition: all ease-in-out 0.2s;
}

/*** TEXTCARD ***/
.textCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 10px; */
  /* letter-spacing: 10px; */
  /* line-height: 2.5em; */
  /* font-family: "Tektur", sans-serif; */
  height: 100%;
}

.textCard a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.textCard a:hover {
  color: #e74c3c;
  transition: all ease 0.2s;
  transform: scale(1.08);
}

.textCard a:not(:hover) {
  transition: all ease-in-out 0.2s;
}

.textCard h2 {
  font-size: 22px;
  margin: 0;
  text-align: center;
}

/*** CARD IMG ***/
/* CONTAINER */
.cardImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* background-color: aquamarine; */
}
/* HEADER */
.cardImgHeader {
  top: 0;
  position: absolute;
  width: 100%;
  padding: 1em 0em;
  background-color: rgba(129, 152, 158, 0.4);
}

.cardImgHeader h2 {
  margin: 0;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

/* IMAGE */
.cardImgBackGround {
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  background-color: rgba(68, 68, 68, 0.6);
}

.cardImgBackGround img {
  width: 249px;
  height: 400px;
  object-fit: cover;
  border-bottom-left-radius: 2.5%;
  border-bottom-right-radius: 2.5%;
  box-shadow: 2px 5px 27px -3px rgba(0, 0, 0, 0.75);
}

/* FOOTER */
.cardImgFooter {
  bottom: 0;
  background-color: rgba(129, 152, 158, 0.6);
  position: absolute;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  gap: 0.5em;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.cardImgFooter h2 {
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImgFooter h3 {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}
