/*** SEARCH CONTAINER ***/
.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  /* background-color: aquamarine; */
}

/*** INPUTS  ***/
.search_container input {
  padding: 10px;
  width: 275px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


/* ENABLED */
#buttonEnabled:hover {
  background-color: #309e3d;
  transition: all ease 0.2s;
  transform: scale(1.05);
}

#buttonEnabled:not(:hover){
  transition: all ease-in-out 0.2s;
}

/* DISABLED */
#buttonDisabled {
  background-color: darkgrey;
  cursor: default;
  
}

#buttonDisabled:hover {
  background-color: rgb(187, 112, 112);
  transition: all ease 0.2s;
  transform: scale(1.00);
  
}

#buttonDisabled:not(:hover){
  transition: all ease-in-out 0.2s;
}
