/*** FORM ***/
.formContainer {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2em; */
  width: 80%;
}

.formContainer h1 {
  margin:0;
  margin-top: 1em;
  padding: 15px;
  text-align: center;
  background-color: #444;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  background-color: #333;
  border-radius: 5px;
  width: 50%;
}

form select {
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 5%;
  font-family: "Tektur", sans-serif;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.67);
  width: 65%;
}

/*** IMG ***/
.formImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formImg img {
  width: 75%;
  border-radius: 30%;
  /* Esto hace que los bordes sean redondeados y, por lo tanto, crea un círculo */
  overflow: hidden;
}

/*** INPUTS ***/
.formInputs {
  display: flex;
  flex-direction: column;
  gap: 0.70em;
  font-size: 16px;
  font-weight: bolder;
  width: 100%;
  align-items: center;
}

.formInputs label {
  width: 64%;
  text-align: start;
}

.formInputs input {
  width: 62%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5ms ease;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.67);
  font-size: 16px;
}

.formInputs textarea {
  width: 62%;
  height: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5ms ease;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.67);
  font-size: 16px;
}

.formInputs span {
  color: rgb(187, 112, 112);
  font-weight: bold;
  width: 64%;
  text-align: start;
}

/*** BUTTONS ***/
.formButton{
  /* background-color: aquamarine; */
  padding: 1em 0em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formButton button {
  padding: 15px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 6em;
  font-size: 16px;
  font-weight: bolder;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.67);
}

.formButton button:hover {
  background-color: #309e3d;
  transition: all ease 0.2s;
  transform: scale(1.05);
}

.formButton button:not(:hover){
  transition: all ease-in-out 0.2s;
}
