/*** CARDS CONTAINER ***/
.cardsContainer {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 59%;
}

.cardsContainer h1 {
  margin:0;
  margin-top: 1em;
  padding: 15px;
  text-align: center;
  background-color: #444;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

/*** CARDS ***/
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* padding-top: 15px; */
}

/*** BUTTONS PAGE ***/
.buttonsPage{
  width: 100%;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  gap: 4em;
}

button {
  padding: 15px;
  font-size: 16px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.67);
}

button:hover {
  background-color: #2b98c0;
  transition: all ease 0.2s;
  scale: 1.05;
}

button:not(:hover){
  transition: all ease-in-out 0.2s;
}